# ignore files inside directories below 
auto/
revisions/
tables/

# ignore backup files
*~
\#*#

# ignore hidden R files
.Rhistory

# ignore compiled manuscript
*.doc
*.docx
*.pdf
*.tex
*.odt
*.html

# ignore temp files created by diff script
*diff*

# reverse previous ignore for reference files and shell scripts
!reference*
!*.sh
